/* form行全体 */
.form-group {
    display: flex;
    justify-content: left;
    margin-left: 2em;
    margin-bottom: 10px;
    width: 100%;
}

/* formラベル */
.col-sm-2 {
    display: flex;
    background-color: #D9E01E;
    color: #000;
    width: 20%;
}

/* form入力全体 */
.col-sm-10 {
    z-index: 1;
    display: flex;
    position: relative;
    width: 50%;
    /* margin-left: -0.5em; */
    /* border-bottom: 2px #D9E01E solid; */
}

/* form入力欄 */
.form-control {
    width: 60%;
    border-radius: 0px !important;
    border: solid 1px #D9E01E;
    background-color: #000;
    color: #fff;
}

.form-control:focus {
    border: solid 1px #787b11;
    background-color: #000;
    color: #fff;
}


/* パスワードの表示/非表示チェックボックス */
.showpw {
    width: 38%;
    margin: auto 0 0 0.5em;
}

.showpw label {
    padding-left: 0.2em;
}

/* パスワード表示/非表示アイコン */
.col-sm-10 .eye {
    position: absolute;
    z-index: 2;
    top: 0.3em;
    left: auto;
    right: 1.5em;
}


/* ボタンデザイン */
.enableButton {
    width: 65%;
    text-align: right !important;
}

.col-sm-10 button {
    background-color: #D9E01E;
    border-color: #D9E01E;
    color: #000;
    /* margin: 10px 0 0 auto; */
}

.col-sm-10 button:hover {
    background-color: #787b11 !important;
    border-color: #787b11;
    color: #ffffff !important;
    /* margin: 10px 0 0 auto; */
}


@media (max-width: 1300px) {

    .col-sm-10 {
        display: inline-block;
    }

    .form-control,
    .showpw {
        width: 100%;
    }
}