.css-n3fyjk-MuiDataGrid-root{
    background-color: white;
}

.btn-primary{
    color: #D9E01E !important;
    border-color: #D9E01E !important;
    background-color: #000 !important;
}
/*ボタンにカーソルをかざしたときの色*/
.btn-primary:hover{
    color: #9a9e18 !important;
    border-color: #9a9e18 !important;
    background-color: #000 !important;
}

/*ボタン押したときの色変化*/
.btn-primary:active{
    background: #787b11 !important;
}
