@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.d-flex {
    display: flex !important;
    flex: auto;
    background-color: black !important;
}

.bg-light {
    background-color: black !important;
    color: #fff;
    font-size: 1.2em;
}

#sidebar-wrapper .sidebar-heading {
    text-align: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    overflow: hidden;
    width: 150px;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
}

.menu-icon {
    display: none;
    margin: 0 2px 3px 0;
}

.content-wrapper {
    width: 100%;
    color: #fff;
}

.page-title {
    padding: 20px 0 0 10px;
    border-bottom: 2px solid #fff;
    margin: 10px 0 25px 0;
    width: 70%;
    color: #D9E01E;
}

#sidebar-wrapper {
    margin-left: 0 !important;
    border-right: 1px #fff solid;
}

@media (max-width: 786px) {
    #sidebar-wrapper {
        width: 3rem;
        /* margin-left: -12em !important; */
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        overflow: hidden;
        width: 30px;
        height: 30px;
    }

    .logo {
        width: 60%;
        height: auto;
    }

    .menu-icon {
        display: flex;
        margin: 0 2px 3px 0;
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.8rem 0.6rem !important;
        margin: 20px 0 40px 0;
    }

    #sidebar-wrapper .list-group {
        width: 3rem;
        border-right: 1px #fff solid;
    }

    #sidebar-items .text {
        display: none;
    }
}

