@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.d-flex {
    display: flex !important;
    flex: auto;
    background-color: black !important;
}

.bg-light {
    background-color: black !important;
    color: #fff;
    font-size: 1.2em;
}

#sidebar-wrapper .sidebar-heading {
    text-align: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    overflow: hidden;
    width: 150px;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
}

.menu-icon {
    display: none;
    margin: 0 2px 3px 0;
}

.content-wrapper {
    width: 100%;
    color: #fff;
}

.page-title {
    padding: 20px 0 0 10px;
    border-bottom: 2px solid #fff;
    margin: 10px 0 25px 0;
    width: 70%;
    color: #D9E01E;
}

#sidebar-wrapper {
    margin-left: 0 !important;
    border-right: 1px #fff solid;
}

@media (max-width: 786px) {
    #sidebar-wrapper {
        width: 3rem;
        /* margin-left: -12em !important; */
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        overflow: hidden;
        width: 30px;
        height: 30px;
    }

    .logo {
        width: 60%;
        height: auto;
    }

    .menu-icon {
        display: flex;
        margin: 0 2px 3px 0;
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.8rem 0.6rem !important;
        margin: 20px 0 40px 0;
    }

    #sidebar-wrapper .list-group {
        width: 3rem;
        border-right: 1px #fff solid;
    }

    #sidebar-items .text {
        display: none;
    }
}

.container {
    margin: 40px auto;
    width: 400px;
}

#tachometer{
    background:#171717;
    margin:100px auto;
    width:400px;
    height:200px;
    box-shadow: inset 0px 0px 9px 3px rgba(0, 0, 0, 1);
    border: 5px solid #171717;
    border-radius: 50% / 100% 100% 0 0;
    display: block;
    position: relative;  
}


.ii {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 2;
    
}
.ii div {
    position: absolute;
    width: 400px;
    height: 400px;
    padding:4px;
    box-sizing: border-box;
}
.ii div b {
    position: absolute;
    display: block;
    left: 50%;
    width: 2px;
    background: #D9E01E;
    margin: 0 -5px 0;
    
}
.ii div:nth-child(2n+1) b {
    width: 10px;
    height: 35px;
    margin: 0 -5px 0;
}

.ii div:nth-child(1) {
    transform: rotate(285deg);
}

.ii div:nth-child(3) {
    transform: rotate(310deg);
}

.ii div:nth-child(5) {
    transform: rotate(335deg);
}

.ii div:nth-child(7) {
    transform: rotate(0deg);
}

.ii div:nth-child(9) {
    transform: rotate(25deg);/*---*/
}

.ii div:nth-child(11) {
    transform: rotate(50deg);
}

.ii div:nth-child(13) {
    transform: rotate(75deg);
}

.ii div:nth-child(15) {
    transform: rotate(90deg);
}




[class^="num_"] {
    color:#FFF;
    display: block;
    position: absolute;
    width: 10px;
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
      
}

.num_1 {transform: rotate(75deg); top:21px;}
.num_2 {transform: rotate(50deg); top:24px;}
.num_3 {transform: rotate(25deg); top:25px; left: -2px;}
.num_4 {transform: rotate(0deg); top:25px; left:-4px}
.num_5 {transform: rotate(-25deg);  top:30px;left:-6px}
.num_6 {transform: rotate(-50deg); top:30px;}
.num_7 {transform: rotate(-75deg); top:30px;left:-4px;}


.line {

    
    background: #D9E01E;
    background-image: linear-gradient(to bottom, #d9e01e, #343536);
    height: 0;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 0;
    transform-origin: 50% 100%;
    margin: -200px -8px 0;
    padding: 200px 8px 0;
    z-index:2;
    border-radius: 50% 50% 0 0;    
    transform:rotate(-95deg);
    
    
    animation: pendulum;
    animation-iteration-count: infinite;
    animation-duration: 4s;
  
        
}

.pin {
    width: 50px;
    height: 50px;
    left:50%;
    top:100%;
    margin: -25px 0 0 -25px;
    background-color: #343536;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #d9e01e, #343536);
    z-index: 4;
}


.inner {
    width: 30px;
    height: 30px;
    margin: 10px auto 0;
    background-color: #363634;
    border-radius: 100%;
    box-shadow: inset 0 8px 15px 0 rgba(167, 154, 10, 0.4);
    position: relative;
}



@keyframes pendulum {
    10% {
        transform:rotate(100deg);
    }

   
    11% {
        transform:rotate(98deg);
    }
    12% {
        transform:rotate(96deg);
    }
    13% {
        transform:rotate(98deg);
    }
    14% {
        transform:rotate(96deg);
    }
    15% {
        transform:rotate(98deg);
    }
    16% {
        transform:rotate(96deg);
    }
    17% {
        transform:rotate(98deg);
    }
    18% {
        transform:rotate(96deg);
    }
    19% {
        transform:rotate(98deg);
    }
    
 
   
}
